<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5644528133-2j3e5bb6bfal68ooe5tls0rejvmv1eec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5644528133-2j3e5bb6bfal68ooe5tls0rejvmv1eec</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5644528133-bpuj9a1d4lu8ivqj9mag1k14ltlfuvs0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKxxKUxErsf-XtAVeOF37td8HobOAICsI</string>
	<key>GCM_SENDER_ID</key>
	<string>5644528133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dialogi.app</string>
	<key>PROJECT_ID</key>
	<string>dialogi-utan34</string>
	<key>STORAGE_BUCKET</key>
	<string>dialogi-utan34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5644528133:ios:52ed4cf9ef6f58233a8a6c</string>
</dict>
</plist>